# RStudio project files
.Rproj.user/
*.Rproj
.Rhistory
.RData
.Ruserdata

# Compiled code
*.o
*.so
*.dll

# Cache and logs
*.rdb
*.rds
*.RDataTmp
*.log
*.out

# Packages
*.tar.gz
*.zip

# Temporary files
*.tmp
*.swp
*.bak
*.backup
*.npz

# Hidden system files
.DS_Store
Thumbs.db

# Python virtual environments (if included)
venv/
__pycache__/

# Data files
*.csv
*.tsv
*.sav
*.dta
*.rda
*.rds
*.fasta
*.FASTA
*.gff

# any folder named tensorboard
tensorboard/

# temporary paper
wang22e.pdf
s13059-023-02956-3.pdf

# any png file with "filter_[0-9].png"
filter_*.png